<div class="main-menu hidden-soft">
    <div class="mini-profile-info">
        <div class="menu-close">
            <span class="float-right">
                <img src="../icons/close.svg" alt="Close Icon">
            </span>
        </div>
        <div class="profile-picture text-center">
            <img src="../images/profile-1.png" alt="Profile Picture">
        </div>
        <div class="profile-info">
            <div class="profile-name text-center">Nata Vacheishvili</div>
            <div class="profile-email text-center">nata_vacheishvili@gurucar.com</div>
        </div>
    </div>
    <div class="menu-items">
        <div class="all-menu-items">
            <a class="menu-item" href="/index-user">
                <div>
                    <span class="menu-item-icon menu-dark">
                        <img src="../icons/home.svg" alt="Home Icon">
                    </span>
                    <span class="menu-item-icon menu-light">
                        <img src="../icons/home-light.svg" alt="Home Lighter Icon">
                    </span>
                    <span class="menu-item-title">Home</span>
                    <span class="menu-item-click fas fa-arrow-right"></span>
                </div>
            </a>
            <a class="menu-item" href="#profile">
                <span class="menu-item-icon menu-dark profile">
                    <img src="../icons/avatar-dark.svg" alt="Avatar Darker Icon">
                </span>
                <span class="menu-item-icon menu-light profile">
                    <img src="../icons/avatar.svg" alt="Avatar Darker Icon">
                </span>
                <span class="menu-item-title profile">Perfil</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a class="menu-item" href="#payment">
                <span class="menu-item-icon far fa-money-bill-alt"></span>
                <span class="menu-item-title">Métodos de Pagos</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a class="menu-item" href="#historial">
                <span class="menu-item-icon menu-light">
                    <img src="../icons/history-light.svg" alt="History Icon">
                </span>
                <span class="menu-item-icon menu-dark">
                    <img src="../icons/history.svg" alt="History Icon">
                </span>
                <span class="menu-item-title">Historial</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a class="menu-item" href="addresses.html">
                <span class="menu-item-icon menu-dark">
                    <img src="../icons/my-addresses-dark.svg" alt="My Addresses Icon">
                </span>
                <span class="menu-item-icon menu-light">
                    <img src="../icons/my-addresses.svg" alt="My Addresses Icon">
                </span>
                <span class="menu-item-title">Mis Direcciones</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a class="menu-item" href="apply-promo.html">
                <span class="menu-item-icon far fa-plus-square"></span>
                <span class="menu-item-title promo">Aplicar Código Promocional</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a class="menu-item" href="settings.html">
                <span class="menu-item-icon menu-dark setting">
                    <img src="../icons/settings.svg" alt="My Settings Icon">
                </span>
                <span class="menu-item-icon menu-light setting">
                    <img src="../icons/settings-light.svg" alt="My Settings Icon">
                </span>
                <span class="menu-item-title">Settings</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a class="menu-item" href="online-support.html">
                <span class="menu-item-icon menu-dark support">
                    <img src="../icons/support.svg" alt="Support Icon">
                </span>
                <span class="menu-item-icon menu-light support">
                    <img src="../icons/support-light.svg" alt="Support Lighter Icon">
                </span>
                <span class="menu-item-title">Online Support</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
            <a href="/" class="menu-item margin-top-auto">
                <span class="menu-item-icon menu-dark logout">
                    <img src="../icons/logout.svg" alt="Logout Icon">
                </span>
                <span class="menu-item-icon menu-light logout">
                    <img src="../icons/logout-light.svg" alt="Logout Icon">
                </span>
                <span class="menu-item-title logout">Log out</span>
                <span class="menu-item-click fas fa-arrow-right"></span>
            </a>
        </div>
    </div>
</div>