<!DOCTYPE html>
<html lang="en">
<% include ../partials/header/header%>

<body>

  <!--Loading Container Start-->
  <div id="load" class="loading-overlay display-flex flex-column justify-content-center align-items-center">
      <div class="primary-color font-28 fas fa-spinner fa-spin"></div>
  </div>
  <!--Loading Container End-->
  
      <div class="row h-100 align-items-center">
          <div class="col-xs-12 col-sm-12 margin-bottom-up">
              <div class="text-center mb-5">
                  <img src="../images/logo-main.svg" alt="Main Logo">
              </div>
  
              <!--Sign Up Buttons Container Start-->
              <div class="sign-up-btn-container">
                  <!-- <a class="btn btn-center width-100 display-block btn-secondary text-uppercase btn-padding-1">Regístrate con Facebook</a> -->
                  <a href="/sign-up-email" class="btn btn-center width-100 display-block btn-primary text-uppercase margin-top-10">Regístrate</a>
              </div>
              <!--Sign Up Buttons Container End-->
  
              <div class="have-an-account text-center">
                  <a href="/sign-in" class="regular-link fix-link">Ya tengo una cuenta?</a>
              </div>
          </div>
      </div>
 
  <% include ../partials/scripts/scripts%>
  </body>
</html>