<!DOCTYPE html>
<html lang="en">
<% include ../partials/header/header%>

<body>

    <!--Loading Container Start-->
    <!-- <div id="load" class="loading-overlay display-flex flex-column justify-content-center align-items-center">
        <div class="primary-color font-28 fas fa-spinner fa-spin"></div>
    </div> -->
    <!--Loading Container End-->
    <div id="container">

    </div>

    <% include ../partials/scripts/scripts%>
</body>

</html>