<plugdo-show-travel>
<data>
{
    "cost":"0.00",
    "dist":"0.00",
    "time":"0"
}
</data>
<template>
<!--INFORMACION DEL COSTO DE TU RECORRIDO-->
<div class="ride-options-bottom hidden">
    <div class="cars-options d-block">
        <h5 class="text-center text-mute ">
            <span>Informacion de solicitud</span>
        </h5>
        <!-- <div class="car-option" data-about-target-id="about-section-1">
            <img src="../icons/audi.svg" alt="Car Option 1">
        </div>
        <div class="car-option active" data-about-target-id="about-section-2">
            <img src="../icons/limusine.svg" alt="Car Option 2">
        </div>
        <div class="car-option" data-about-target-id="about-section-3">
            <img src="../icons/minivan.svg" alt="Car Option 3">
        </div> -->
    </div>
    <div class="about-section">
        <div class="about-section-1">
            <div class="about-section-title">
                Tarifa: <strong>$5.00</strong> / 6.85 km /
                <span class="black-text">3 Minutes</span>
            </div>
            <div class="about-section-more">
                NOTE: Esta es una estimación aproximada. El costo real puede variar según
                al trafico.
            </div>
        </div>
    </div>
    <div class="payment-options">
        <div class="send-wishes-container">
            <div class="float-left wishes">
                <img src="../icons/wishes.svg" class="h-100" alt="Wishes Icon">
            </div>
            <div class="payment-option-content">
                Deseo
                <span class="payment-options-more">Escribe lo que deseas en el servicio</span>
            </div>
        </div>
        <div class="default-payment-method-container display-flex">
            <div class="float-left wishes">
                <img src="../icons/cash.svg" alt="Cash Icon" class="h-100">
            </div>
            <div class="payment-option-content">
                Efectivo
                <!-- <span class="payment-options-more">Metodo de pago por defecto</span> -->
            </div>
        </div>
    </div>
    <div class="confirm-ride-btn">
        <button type="button" class="btn btn-primary">Confirmar</button>
    </div>
</div>
</template>
</plugdo-show-travel>


