<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="//cdn.plugdo.com/js/plugdo-dependency.min.js"></script>
  <script src="//cdn.plugdo.com/release/2.7/plugdoeui.min.js"></script>
  <link
    href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Fjalla+One|Russo+One|Cuprum|Hammersmith+One|Mukta&display=swap"
    rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/css/intlTelInput.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="<%=location%>/css/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="<%=location%>/css/fontawesome.css">
  <!-- Main Style -->
  <link rel="stylesheet" href="<%=location%>/css/styles.css">
  <link rel="stylesheet" href="<%=location%>/css/slick.css">
  <title>Food Delivery</title>
</head>